.header {
    display: flex;
    gap: 80px;
    flex-direction: row;
    justify-content: flex-end;
    padding: 30px;
    font-size: larger;
    /* position: fixed;
    top: 0; */

}

.headerLink {
    display: block;
    color: gray;
}
.headerLink:hover {
    color: black;
    text-decoration: underline;
}

.card {
    display:flex;
    padding: 30 pix;
    border-radius: 20pix;
    border-color: black;
}